/* -- TABLET -- */
@media (min-width: 576px) and (max-width: 992px) {
  .contenedormenu {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center; }
  .contenedormenu img {
    width: 100%;
    Height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; }
  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  #emprendimiento {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  main {
    display: grid;
    flex-direction: column;
    align-items: center;
    padding: 1rem; } }

/* -- MOBILE -- */
@media (min-width: 320px) and (max-width: 576px) {
  html {
    margin: 20px; }
  main {
    padding: 1rem; }
  .contenedormenu {
    display: grid;
    grid-template-columns: 60% 40%; }
  .contenedormenu img {
    width: 100%;
    Height: auto;
    display: flex;
    align-items: center;
    padding: 10px; }
  .menu {
    flex-direction: column;
    align-items: center; }
  #emprendimiento {
    flex-direction: column; }
  p {
    font-size: 16px; }
  main {
    display: grid;
    flex-direction: column;
    align-items: center; } }

/* Variables */
.ver-visited, .ver {
  font-family: 'Montserrat', sans-serif; }

.ver-visited {
  background-color: bisque; }

.ver {
  background-color: #ee751b; }

.btn--instagram {
  background-color: #E1306C; }

.btn--facebook {
  background-color: #3a5795; }

.btn--tiktok {
  background-color: #25F4EE; }

.instagram {
  background-color: #E1306C; }

* {
  margin: 0;
  padding: 0; }

html {
  min-height: 100%;
  margin: 0%;
  position: relative; }

.container-fluid {
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center; }

body, html {
  overflow-x: hidden; }

body {
  background-color: white;
  font-family: normal 24px/1.5 "Roboto", sans-serif;
  margin: 0;
  font-size: 22px;
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.contenedormenu {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #ee751b;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .contenedormenu img {
    height: auto;
    width: 130px;
    display: flex;
    align-items: center; }

.menu {
  display: flex;
  list-style: none;
  gap: 2rem;
  justify-content: space-around; }

ul {
  list-style: none; }
  ul li {
    color: #ee751b; }

.presentacion {
  padding-top: 20px;
  padding-bottom: 20 px; }

h1 {
  text-align: center;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  color: #ee751b; }

.display {
  color: white;
  display: flex;
  text-align: center;
  justify-content: space-around; }

h2 {
  text-align: center;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  color: #ee751b; }

h3 {
  text-align: center;
  font-size: 16px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  color: #ee751b; }

.intro {
  background-color: #ee751b;
  text-decoration: none;
  color: white;
  padding: 30px; }

#emprendimiento {
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: bisque;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.emprendimientos {
  width: 80%; }

.cajitas {
  display: inline-block;
  margin: 10px 10px;
  padding: 10px 10px;
  border: solid 2px #ee751b;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  height: 300px;
  width: 300px;
  color: #ee751b;
  justify-content: space-around;
  align-items: center;
  gap: 2rem; }

.new {
  display: inline-block;
  padding: 10px 10px;
  font-family: 'Roboto', sans-serif;
  background-color: bisque;
  height: auto;
  width: 100%;
  color: #ee751b;
  justify-content: space-around;
  align-items: center;
  gap: 2rem; }

p {
  padding-left: 40px;
  padding-right: 40px;
  color: #ee751b; }

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  color: white;
  background-color: #ee751b;
  border-color: bisque;
  width: 50%; }

#tel {
  color: white;
  background-color: #ee751b;
  border-color: bisque;
  width: 50%; }

.carousel {
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: #ee751b; }

label {
  line-height: 1.4;
  font-size: 16px; }

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0; }

a:link {
  color: white; }

a:visited {
  color: wheat; }

a:focus {
  border-bottom: 1px solid;
  background: wheat;
  color: #ee751b; }

a:active {
  background: #ee751b;
  color: wheat; }

.ver {
  font-family: 'Montserrat', sans-serif;
  background-color: #ee751b; }

.comunidad {
  padding-top: 20px;
  padding-bottom: 20px; }

.redes ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  justify-content: center; }

footer {
  color: white;
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ee751b;
  margin-top: auto;
  overflow: -moz-hidden-unscrollable;
  margin-bottom: 0%; }
  footer p {
    color: white; }

div ul li a {
  color: white;
  text-decoration: none;
  text-align: left; }
