@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}
/* -- TABLET -- */
@media (min-width: 576px) and (max-width: 992px)
 {
    .contenedormenu{ 
        display: grid;
        grid-template-columns: 50% 50%;
        align-items:center;
    }
    .contenedormenu img {width: 100%;
    Height: auto;
        display: flex;
    flex-direction: column;
    align-items: center;
padding: 10px;}
    .menu {display: grid;
    grid-template-columns: 1fr 1fr;}
    #emprendimiento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    }
    main{ 
        display: grid;
        flex-direction:column;
        align-items:center;
        }
}

/* -- MOBILE -- */
@media (min-width: 320px) and (max-width: 576px)
{
html{margin: 20px;
}
main{
    padding: 1rem;
}
.contenedormenu{ 
    display: grid;
    grid-template-columns: 60% 40%;

    }
    .contenedormenu img {width: 100%;
    Height: auto;
    display: flex;
    align-items: center;
padding: 10px;}


    .menu {flex-direction:column;
    align-items:center;}
    #emprendimiento {
    flex-direction: column;
    } 

p{font-size: 16px;}
main{ 
    display: grid;
    flex-direction:column;
    align-items:center;
    }
    .map{size:5%}
    
}