*{margin:0;
padding:0;}

.presentacion {  padding-top: 20px;
  padding-bottom: 20 px;
}

    h1{text-align: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right, #ee751b , rgb(255, 203, 107));
    color:white;
   
      }

    h2{text-align: center;
      font-size: 20px;
      padding: 30px;
      font-family: 'Roboto', sans-serif;
      color:#ee751b;
      
      }

    h3{
        text-align: center;
      font-size: 16px;
      padding: 10px;
      font-family: 'Roboto', sans-serif;
      color:#ee751b;
      }
 
      .emprendimiento{
        display: grid; /* Para empezar, al padre */
    grid-template-columns: 25% 25% 25% 25%; /* Cantidad de colunas */
    /* grid-template-rows: 20% 60% 20%; Cant de filas */
    gap: 50px;
    grid-template-areas: 
    
     "presentacion"
    "cajitas cajitas cajitas cajitas"
    "footer"
    ;

    grid-column-gap: 100px;
    grid-row-gap: 100px;
}

      
     
 /* .logo{width: 70px; height: 70px;} */

/* main{
  display: grid;
  grid-template-rows: 40% 60%;
  grid-gap: 16px;
} */
.contenedormenu{text-align: center; 
    font-family: 'Roboto', sans-serif;
    background-color:#ee751b;
   position:relative;
    padding: 30px;
    color:white;
    /* display: inline-block; */
    display: grid;
    grid-template-columns: 30% 70%;
  justify-content: space-around;
    align-items: center;
 } 

 .menu{display: flex;
        list-style: none;
       gap:2rem;
       justify-content: space-around;
       
      }

      .contenedormenu img {
        width: 100%;
        Height: auto;
      display: flex;
    align-items: center;}
      
      #emprendimiento{
      overflow: hidden;
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: bisque;
      text-align: center; 
      font-family: 'Roboto', sans-serif;
      color:white;
      display: flex;
      flex-direction:row;
      justify-content: space-around;
      align-items: center;
      
        }


      .cajitas {display:inline-block;
        margin: 10px 10px;
        padding: 10px 10px;
        border: solid 2px #ee751b;
        font-family: 'Roboto', sans-serif;
        background-color: white;
        width: 300px;
        height: 300px;
        color:#ee751b;
        justify-content: space-around;
        align-items: center;
        gap:2rem;
              }
      
     
        p{ padding-left: 40px;
        padding-right: 40px;
        color: #ee751b;
        }


 body { 
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    font-size: 22px;
    font-family: sans-serif;
    text-align: center; 
  }
  
  form textarea  {
    margin-left: 100px;
    margin-right: 100px;
    width: 400px;
    margin-top: 10px;
    align-items: center;
  }
  /* form input {align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    width: 100px;} */

    
  
label {
    line-height: 1.4;
    font-size: 16px;
    
  }
  
  a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  
  }
  
  a:link {
    color: white;
  }
  
  a:visited {
    color: wheat;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: wheat;
    font-size: 24px;
  }
  
  a:hover {
    border-bottom: 1px solid;
    background: white;

  }
  
  a:active {
    background: #ee751b;
    color: wheat;
  }


.emprendimientos{width: 70px;}



footer p {
  color: white;
}

footer{
  
    background-image: url(../multimedia/fondo-regias.jpg);
    color:white;  
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px; 
     }

.ver {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color:#ee751b;
  transition: all 2s;
}

.comunidad{ 
  padding-top: 20px;
  padding-bottom: 20px;
}


/* -- MOBILE -- */
@media (max-width: 576px) {
/*ACÁ LE DIGO QUE CUANDO LA PANTALLA SEA MENOR A 576 LAS COSAS SE ACOMODEN DIFERENTE*/
 .contenedormenu{ 
    display: grid;
  grid-template-columns:none;
    align-items:center;
  }
  .contenedormenu img {width: 100%;
    Height: auto;
    display: flex;
  align-items: center;
padding: 10px;}
  .menu {flex-direction:column;
    align-items:center;}
  #emprendimiento {
    flex-direction: column;
  }
   /* form{display:flex;
    flex-direction: column;
    
  }  */
  form textarea  {
    margin-left: 30px;
    margin-right: 30px;
    width: 200px;
    margin-top: 10px;
    align-items: center;
  }

}


/* -- TABLET -- */
@media (min-width: 576px) and (max-width: 992px) {
  .contenedormenu{ 
    display: grid;
  flex-direction:column;
    align-items:center;
  }
   /* form {display: flex;
    flex-direction: column;
    
  }  */
  .contenedormenu img {width: 100%;
    Height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
padding: 10px;}
  .menu {display: grid;
    grid-template-columns: 1fr 1fr;}
  #emprendimiento {
    display: grid;
  grid-template-columns: 1fr 1fr;
    
  }
}
